<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
            user: current_user).html_safe %>
    </script>
<% end %>

<script type="text/javascript">window.logo = "<%= image_url("taut_logo.png") %>"</script>
<script src="https://kit.fontawesome.com/7275b6aa0a.js" crossorigin="anonymous"></script>
<main id="root">React is not working.</main>