.front-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgb(245, 245, 227) 0%,
        rgb(245, 245, 227) 55%,
        rgb(219, 208, 218) 55%,
        rgb(219, 208, 218) 100%
    );
}

.front-page .navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    background-color: #F6EFE8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}

.front-page .navbar li {
    list-style-type: none;
}

.front-page .navbar .logo-box .logo {
    display: inline-block;
    height: 30px;
    width: 30px;
    top: 50%;
}

.front-page .navbar .logo-box .title {
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: black;
    position: flex;
    top: 50%;
    margin-left: 3px;
}

.front-page .navbar .frontpage-link {
    padding: 25px 40px 25px 15px;
    display: flex;
    float: right;
    font-weight: 400;
    margin-left: 15%;
    top: 50%;
}

.front-page .logo-box {
    display: flex;
    width: 100px;
    height: 30px;
    align-self: center;
}

.front-page .links {
    padding: 25px 40px 25px 15px;
    display: flex;
    float: right;
    font-weight: 400;
    margin-right: 15%;
    top: 50%;
}

.front-page .signin-link a {
    padding: 12px 15px 12px 15px;
    text-decoration: none;
    margin: 5px;
    border-radius: 4px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: inline;
}

.front-page .signup-link a {
    padding: 12px 15px 12px 15px;
    color: white;
    background-color: #6f4974;
    text-decoration: none;
    margin: 5px;
    border-radius: 4px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    display: inline;
}

.front-page .links a:hover {
    background-color: #400d40;
    transition: .3s;
}

.front-page .main-content{
    margin-top: 8%;
    margin-left: 15%;
    margin-right: 15%;
}

.front-page .main-content > h1 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    top: 100px;
    width: 100%;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 4%;
    color: rgb(126, 126, 126);
}

.front-page .main-content .section-1 {
    display: flex;
}

.front-page .main-content .section-1 video {
    width: 50%;
    height: auto;
    display: inline-block;
}

.front-page .main-content .section-1 .section-1-text {
    margin-left: 3%;
    display: inline-block;
    margin-right: 3%;
}

.front-page .main-content .section-1 .section-1-text > h1 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    top: 100px;
    width: 100%;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 600;
}

.front-page .main-content .section-1 .section-1-text > p {
    margin-top: 30px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 20px;
}

.front-page .main-content .section-2 {
    display: flex;
    margin-top: 60px;
}

.front-page .main-content .section-2 .section-2-image {
    width: 90%;
    height: auto;
    display: inline-block;
}

.front-page .main-content .section-2 .section-2-text {
    margin-right: 3%;
    display: inline-block;
}

.front-page .main-content .section-2 .section-2-text > h1 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    top: 100px;
    width: 100%;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 600;
}

.front-page .main-content .section-2 .section-2-text > p {
    margin-top: 30px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 20px;
}

.front-page .main-content .section-2 .section-2-text .section-2-text-author {
    margin-top: 10px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.front-page .main-content .section-2 .section-2-text .section-2-text-company {
    margin-top: 10px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-size: 17px;
}

.front-page .frontpage-social {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

.front-page .mainpage-link {
    margin-left: 30px;
}

.front-page .mainpage-link a {
    padding: 12px 15px 12px 15px;
    color: white;
    background-color: #6f4974;
    text-decoration: none;
    margin: 5px;
    border-radius: 4px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    display: inline;
}

.hello-message {
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}