

.main-page-content {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main-page-channel-list {
    width: 300px;
    float: left;
}

.main-page-message-area {
    display: flex;
    justify-content: space-between;
    float: right;
}
